@import url('./fontello.css');

:root {
  --color-primary: #4C51BF;
  --color-secondary: #9AE6B4;
  --color-text: #718096;
  --color-bg-dark: #1A202C;
  --color-bg-light: #EDF2F7;
  --bg-item-dark: #2D3748
}

body {
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  color: var(--color-text);
  font-size: 18px;
  padding-bottom: 40px;
}

.header {
  position: sticky;
  padding-top: 20px;
  top: 0px;
  z-index: 9;
  background: var(--color-bg-light);
  transition: all .2s ease;
}

.header.dark {
  background-color: var(--color-bg-dark);
}

.header h1 {
  line-height: 20px;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-top: 0;
  margin-bottom: 30px;
}

.header h1 i {
  display: block;
  width: 100%;
  color: var(--color-primary);
  margin-bottom: 15px;
}

.switcher {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.switcher button {
  display: inline-block;
  width: 50%;
  font-size: 18px;
  border-radius: 5px;
  padding: 12px 0px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  margin-top: -2px;
  border: solid 1px var(--color-primary)
}

.switcher button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px
}

.switcher button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px
}

.switcher button.active {
  color: white;
  background: var(--color-primary);
  pointer-events: none;
}

.switcher button.inactive {
  color: var(--color-primary);
  background-color: transparent;
}

input {
  font-family: inherit;
  top: 100px;
  width: 80%;
  max-width: 800px;
  padding: 0 20px;
  height: 70px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 20px;
  z-index: 99;
  font-size: 28px;
  background: white;
  transition: all .2s ease;
  color: var(--color-text);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

input.dark {
  background: var(--bg-item-dark);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5)
}

input:hover,
input:focus {
  outline: none;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: var(--color-text)
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  position: relative;
  width: 80%;
  max-width: 800px;
  font-size: 28px;
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  padding: 13px 0 13px 20px;
  background: white;
  border-radius: 6px;
  color: var(--color-text);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  transition: all .15s ease;
  cursor: pointer;
}

.list-item:hover {
  transform: scale(1.03);
}

.list-item.dark {
  background: var(--bg-item-dark);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5)
}

.list-item button {
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
}

.list-item button:hover {
  color: var(--color-primary);
}

.item-done {
  text-decoration: line-through;
}

img {
  display: block;
  width: 80%;
  max-width: 360px;
  margin: 20px auto;
}

.theme-selector {
  position: relative;
  margin: 20px auto 0px auto;
  color: var(--color-primary);
  border: none;
  outline: none;
  cursor: pointer;
  height: 36px;
  font-size: 24px;
  background: transparent;
}

.theme-selector.dark {
  color: var(--color-text);
}

.bg-cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: var(--color-bg-light);
  transition: all .2s ease;
}

.bg-cover.dark {
  background: var(--color-bg-dark);
}

.empty-p {
  max-width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
}

small {
  display: block;
  font-size: 12px;
  margin-top: 20px;
}